[*.cs]

# CA1873: Avoid potentially expensive logging
dotnet_diagnostic.CA1873.severity = none

# xUnit1045: Avoid using TheoryData type arguments that might not be serializable
dotnet_diagnostic.xUnit1045.severity = none

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = true
