using {{FullName}}.Persistence;
using Weavly.Core.Tests.Shared;

namespace {{FullName}}.Tests;

public abstract class {{Name}}HandlerTests : WeavlyHandlerTests
{
    protected readonly {{Name}}Repository Repository;

    protected {{Name}}HandlerTests()
    {
        Repository = new {{Name}}Repository(
            new WeavlyRepositoryMock<{{Name}}Module>(TimeProviderMock)
        );
    }
}
