using Microsoft.AspNetCore.Builder;
using System.Diagnostics.CodeAnalysis;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Hosting;
using Weavly.Core.Shared.Implementation;
using {{FullName}}.Persistence;

namespace {{FullName}};

[ExcludeFromCodeCoverage]
public class {{Name}}Module : WeavlyModule
{
    public override void Configure(IHostApplicationBuilder builder)
    {
        // Custom configuration can be added here
        // Example:
        // - Service registration for dependency injection
        builder.Services.AddScoped<{{Name}}Repository>();

        base.Configure(builder);
    }

    public override void Use(WebApplication app)
    {
        // Custom middleware can be added here

        base.Use(app);
    }

    public override Task InitializeAsync(IMessageBus bus)
    {
        // Custom initialization logic can be added here
        // Example:
        // - Data seeding (in module or via command in other modules like Configuration)

        return base.InitializeAsync(bus);
    }
}
