using Weavly.Core.Shared.Persistence;

namespace {{FullName}}.Persistence;

public sealed class {{Name}}Repository(IWeavlyRepository<{{Name}}Module> repository)
    : ModuleRepository<{{Name}}Module>(repository)
{
    // Add your modules data collections for persistence here
    // Example:
    // public IWeavlyCollection<Document, DocumentId> Documents =>
    //    this.Repository.GetCollectionFor<Document, DocumentId>();
}
